.achievements-section {
  padding: 1rem; // Reduced padding for mobile screens

  @media (min-width: 640px) {
    padding: 2rem; // Slightly larger padding for small screens and up
  }

  @media (min-width: 1280px) {
    padding: 4rem; // Larger padding for large screens
  }

  .achievements-container {
    border: 1px solid #3f3733;
    border-radius: 0.375rem;
    padding: 1rem; // Reduced padding for mobile screens
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 640px) {
      padding: 2rem;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 1280px) {
      padding: 2rem 4rem;
    }
  }

  .achievement-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem; // Reduced margin for mobile screens

    @media (min-width: 640px) {
      margin: 0 1rem;
    }
  }

  .achievement-value {
    color: #3d1fc2;
    font-size: 1.5rem; // Reduced font size for mobile screens
    font-weight: 700;
    display: flex;
    align-items: center;

    @media (min-width: 640px) {
      font-size: 2rem; // Slightly larger font size for small screens and up
    }
  }

  .achievement-metric {
    color: #252627;
    font-size: 0.875rem; // Smaller font size for mobile screens

    @media (min-width: 640px) {
      font-size: 1rem; // Larger font size for small screens and up
    }
  }

  .animated-number {
    color: #3d1fc2;
    font-size: 1.5rem; // Reduced font size for mobile screens
    font-weight: 700;

    @media (min-width: 640px) {
      font-size: 2rem; // Larger font size for small screens and up
    }
  }
}
